<!DOCTYPE html>
<html lang="pl" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div class="my-account__left">
    <ul class="my-account__menu-list">
        <li class="my-account__menu-item">
            <a th:href="@{/account/details}" class="my-account__item--link">Moje dane</a>
        </li>
        <li class="my-account__menu-item">
            <a th:href="@{/account/orders}" class="my-account__item--link">Moje zamówienia</a>
        </li>
        <li class="my-account__menu-item">
            <a th:href="@{/account/change/details}" class="my-account__item--link">Zmiana danych</a>
        </li>
        <li class="my-account__menu-item">
            <a th:href="@{/account/change/address}" class="my-account__item--link">Zmiana adresu</a>
        </li>
        <li class="my-account__menu-item">
            <a th:href="@{/account/change/password}" class="my-account__item--link">Zmiana hasła</a>
        </li>
        <li class="my-account__menu-item">
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/account/users}" class="my-account__item--link">Użytkownicy</a>
        </li>
    </ul>
</div>
</html>

