.menu-shop__content {
    width: 90%;
}

.menu-shop__content-header {
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0;
    font-size: 50px;
}

.menu-shop__content-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(320px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}

@media(max-width: 358px){
    .menu-shop__content-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

.menu-shop__content-item {
    border: 2px solid black;
    position: relative;
}

.menu-shop__content-item.green {
    border-color: rgb(45, 221, 22);
}

@media(max-width: 930px) {
    .menu-shop__content-item {
        flex-direction: column;
    }
}

.menu-shop__info {
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.menu__dots::before{
    content: "\22EE";
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 0;
    font-weight: 900;
    cursor: pointer;
    padding: 2px;
}

.menu__dots-info {
    visibility: hidden;
    position: absolute;
    right: 25px;
    top: 15px;
    padding: 5px 10px;
    background: white;
    box-shadow: 0 0 10px #222;
}

.menu__dots-info.info-active {
    visibility: visible;
}

.menu__dots-list {
    list-style: none;
    text-align: center;
}

.menu__dots-item {
    cursor: pointer;
    padding: 5px 2px;
}

.menu__dots-link {
    text-decoration: none;
    color: black;
}

.span__error-file {
    text-align: center;
    color: rgb(243, 22, 22);
}

.menu-shop__img-position {
    position: relative;
    width: 120px;
    margin-right: 10px;
}

.menu-shop__img {
    position: absolute;
    clip: rect(0px,auto,100px,0px);
    width: 120px;
    transition: 1s;
}

@media(max-width: 358px) {
    .menu-shop__img {
        width: 100px;
        left: 10px;
    }
}

.img__file {
    display: none;
}

.img__file-label {
    display: none;
}

.item-edit .img__file-label,
.new-item .img__file-label {
    display: initial;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #222;
    background: white;
    padding: 6px 12px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.new-item .img__file-label {
    visibility: visible;
    opacity: 1;
    white-space: nowrap;
}

.new-item .menu-shop__img-position .menu-shop__img ~ .img__file-label {
    visibility: hidden;
    opacity: 0;
}

.item-edit .menu-shop__img-position:hover .img__file-label,
.new-item .menu-shop__img-position:hover .menu-shop__img ~ .img__file-label {
    visibility: visible;
    opacity: 1;
}

.item-edit .menu-shop__img-position:hover .menu-shop__img {
    opacity: 0.7;
}

.menu-shop__content-parameters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(max-width: 358px){
    .menu-shop__content-parameters {
        width: 120px;
    }
}

.menu-shop__content-span {
    font-size: 25px;
    text-align: center;
    margin: 2px 0;
}

.menu-shop__content-span.brand {
    font-weight: 700;
}

.menu-shop__content-span.input {
    display: none;
}

@media(max-width: 358px) {
    .menu-shop__content-span {
        font-size: 20px;
    }
}

.input__parameters {
    padding: 3px 5px;
    width: 120px;
    font-size: 15px;
    outline: none;
    margin-bottom: 3px;
}

.input__parameters:last-of-type{
    margin-bottom: 0;
}

.menu-shop__content-detail {
    margin: 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-shop__content-span.position {
    display: flex;
    align-items: center;
}

.menu-shop__content-span.position strong {
    margin: 0 5px;
}

.input__parameters.detail {
    width: 70px;
}

.menu-shop__content-buy{
    margin-top: 10px;
    display: flex;
    align-items: center;

}

.menu-shop__select {
    padding: 3px;
    margin-left: 8px;
    font-weight: bold;
}

.menu-shop__content-basket {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    padding: 5px 10px;
    background: rgb(49, 175, 27);
    border: 2px solid black;
    cursor: pointer;
}

.menu-shop__content-basket:hover {
    background: rgb(24, 141, 4);
}

.menu-shop__content-basket:disabled{
    cursor: not-allowed;
    background: #666
}

.submit {
    cursor: pointer;
    background: rgb(0, 109, 136);
    margin: 5px 0 0;
    font-size: 18px;
    border: 1px solid black;
    box-shadow: 0 0 10px #ccc;
}

.submit:hover {
    background: rgb(0, 82, 102);
}

.new-product {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    background: rgb(17, 204, 26);
    width: 30px;
    height: 30px;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.5s ease;
    transition-delay: 0.3s;
    cursor: pointer;
}

.new-product:hover {
    right: -130px;
    width: 140px;
}

.new-product__circle::before {
    content: "+";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    color: white;
}

.new-product__title {
    color: white;
    width: 120px;
    white-space: nowrap;
}

.menu-shop__relative {
    position: relative;
    width: 220px;
    margin: auto;
}

.input {
    display: none;
}