<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wulkanizacja Edek</title>

    <link rel="icon" type="image/x-icon" href="/images/icon/tire.svg">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main-navigation.css">
    <link rel="stylesheet" href="/css/sign-in.css">
    <link rel="stylesheet" href="/css/account-menu.css">
    <link rel="stylesheet" href="/css/account-data.css">
    <link rel="stylesheet" href="/css/change-data.css">
    <link rel="stylesheet" href="/css/password.css">

</head>

<body>
<section class="banner__sign-in" th:replace="fragments/section-sign-in::section">
</section>

<section class="banner__sign-in banner__register" th:replace="fragments/section-registration::section">
</section>

<div class="scroll">
    <nav class="main-navigation" th:replace="fragments/nav::nav">
    </nav>
    <section class="my-account__menu">
        <div class="my-account__menu-container">
            <div class="my-account__left" th:replace="fragments/div-menu-account::div">
            </div>

            <div class="my-account__right">
                <div class="my-account__text">
                    <h2 class="my-account__text-header" th:text="${'Witaj ' + loggedUser.firstName}"></h2>
                </div>
                <div class="password__container">
                    <h2 class="password__header">Zmiana hasła</h2>
                    <div th:if="${different != null}" class="password__div-error">Hasła nie są identyczne</div>
                    <div th:if="${validPassword != null}" class="password__div-error">Hasło musi zawierać małe i duże litery oraz cyfry</div>
                    <div th:if="${incorrectPassword != null}" class="password__div-error">Stare hasło jest niepoprawne</div>
                    <div th:if="${success != null}" class="password__div-error success">Hasło zostało pomyślnie zmienione</div>
                    <form class="password__form" method="POST">
                        <table class="password__table">
                            <tr class="password__table-row">
                                <td class="password__table-info">Aktualne hasło:</td>
                                <td class="password__table-input">
                                    <input type="password" name="oldPassword" class="password__input">
                                </td>
                            </tr>
                            <tr class="password__table-row">
                                <td class="password__table-info">Nowe hasło:</td>
                                <td class="password__table-input">
                                    <input type="password" name="newPassword" class="password__input">
                                </td>
                            </tr>
                            <tr class="password__table-row">
                                <td class="password__table-info">Powtórz nowe hasło:</td>
                                <td class="password__table-input"><input type="password" name="repeatPassword" class="password__input"></td>
                            </tr>
                        </table>
                        <button class="my-account__form-button">Zapisz</button>
                    </form>
                </div>
                </div>
            </div>
    </section>
</div>

<script src="/js/scroll.js"></script>
<script src="/js/main-navigation.js"></script>
<script src="/js/account-navigation.js"></script>
<script src="/js/summary.js"></script>
<script src="/js/account-menu.js"></script>
</body>

</html>