<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wulkanizacja Edek</title>

    <link rel="icon" type="image/x-icon" href="/images/icon/tire.svg">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main-navigation.css">
    <link rel="stylesheet" href="/css/sign-in.css">
    <link rel="stylesheet" href="/css/account-menu.css">
    <link rel="stylesheet" href="/css/account-data.css">
    <link rel="stylesheet" href="/css/change-data.css">

</head>

<body>
<section class="banner__sign-in" th:replace="fragments/section-sign-in::section">
</section>

<section class="banner__sign-in banner__register" th:replace="fragments/section-registration::section">
</section>

<div class="scroll">
    <nav class="main-navigation" th:replace="fragments/nav::nav">
    </nav>
    <section class="my-account__menu">
        <div class="my-account__menu-container">
            <div class="my-account__left" th:replace="fragments/div-menu-account::div">
            </div>

            <div class="my-account__right">
                <div class="my-account__text">
                    <h2 class="my-account__text-header" th:text="${'Witaj ' + loggedUser.firstName}"></h2>
                </div>
                <div class="my-account--position">
                    <div class="my-account__info">
                        <div class="my-account__info-type">
                            <h2 class="my-account__info-header">Dane konta</h2>
                            <a th:href="@{/account/change/details}" class="my-account__info-edit">Edytuj</a>
                        </div>
                        <div class="my-account__info-data">
                            <table class="my-account__info-table">
                                <tr class="my-account__table-row test">
                                    <td>Imię i nazwisko:</td>
                                    <td class="my-account__table-info"
                                        th:text="${loggedUser.firstName + ' ' + loggedUser.lastName}"></td>
                                </tr>
                                <tr class="my-account__table-row test">
                                    <td>Adres e-mail:</td>
                                    <td class="my-account__table-info" th:text="${loggedUser.email}"></td>
                                </tr>
                                <tr class="my-account__table-row test">
                                    <td>Nazwa użytkownika:</td>
                                    <td class="my-account__table-info" th:text="${loggedUser.username}"></td>
                                </tr>
                                <tr class="my-account__table-row test">
                                    <td>Numer telefonu:</td>
                                    <td class="my-account__table-info" th:if="${loggedUser.phoneNumber != null}"
                                        th:text="${loggedUser.phoneNumber}"></td>
                                    <td class="my-account__table-info" th:if="${loggedUser.phoneNumber == null}"
                                        th:text="Brak"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="my-account__info">
                        <div class="my-account__info-type">
                            <h2 class="my-account__info-header">Adres dostawy</h2>
                        </div>
                        <div class="my-account__info-data">
                            <form th:action="@{/account/change/address}" method="post" th:object="${address}">
                                <table class="my-account__info-table">
                                    <tr class="my-account__table-row">
                                        <td>Ulica:</td>
                                        <td class="my-account__table-info">
                                            <input th:field="*{street}" class="my-account__form-input" required/>
                                            <div th:if="${#fields.hasErrors('street')}"
                                                 class="my-account__form-error">Dozwolone tylko litery oraz minimum 3
                                                znaki
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="my-account__table-row">
                                        <td>Numer budynku:</td>
                                        <td class="my-account__table-info">
                                            <input th:field="*{numberOfBuilding}" class="my-account__form-input" required/>
                                            <div th:if="${#fields.hasErrors('numberOfBuilding')}"
                                                 class="my-account__form-error">Podaj
                                                prawidłowe dane (np.: 1, 1a)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="my-account__table-row">
                                        <td>Numer mieszkania:</td>
                                        <td class="my-account__table-info">
                                            <input th:field="*{apartmentNumber}" class="my-account__form-input"/>
                                            <div th:if="${#fields.hasErrors('apartmentNumber')}"
                                                 class="my-account__form-error">Dozwolone
                                                tylko cyfry i litery
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="my-account__table-row">
                                        <td>Kod pocztowy:</td>
                                        <td class="my-account__table-info">
                                            <input th:field="*{postalCode}" maxlength="6" class="my-account__form-input postal-code" required/>
                                            <div th:if="${#fields.hasErrors('postalCode')}"
                                                 class="my-account__form-error">Podaj prawidłowy kod pocztowy
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="my-account__table-row">
                                        <td>Miejscowość:</td>
                                        <td class="my-account__table-info">
                                            <input th:field="*{city}" class="my-account__form-input" required/>
                                            <div th:if="${#fields.hasErrors('city')}"
                                                 class="my-account__form-error">Dozwolone tylko litery oraz minimum 2
                                                litery
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <input type="hidden" name="scrollTo" value="${scrollTo}">
                                <input type="hidden" name="addressId" th:value="*{id}">
                                <button type="submit" class="my-account__form-button">Zapisz</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="/js/scroll.js"></script>
<script src="/js/main-navigation.js"></script>
<script src="/js/account-navigation.js"></script>
<script src="/js/summary.js"></script>
<script src="/js/account-menu.js"></script>
<script src="/js/postal-code.js"></script>
</body>

</html>